[include]
  path = ~/.config/git/delta.gitconfig
  path = ~/.config/git/ghq.gitconfig
  path = ~/.config/git/alias.gitconfig

[color]
  branch = auto
  diff    = auto
  interactive = auto
  status  = auto
  ui = auto

[core]
  excludesfile = ~/.config/git/gitignore
  attributesfile = ~/.config/git/attributes
  quotepath = false
  editor = nvim

[branch "main"]
  remote = origin
  merge = refs/heads/main

[branch "master"]
  remote = origin
  merge = refs/heads/master

[http]
  sslVerify = false

[push]
  default = simple

[credential]
  helper = cache --timeout=2592000

[filter "media"]
  required = true
  clean = git media clean %f
  smudge = git media smudge %f

[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
