# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# Markdown files
[*.md]
trim_trailing_whitespace = false

# Shell scripts
[*.sh]
indent_size = 4

# Makefiles
[Makefile]
indent_style = tab

# YAML files
[*.{yml,yaml}]
indent_size = 2

# Python files
[*.py]
indent_size = 4

# Go files
[*.go]
indent_style = tab
indent_size = 4

# Lua files
[*.lua]
indent_size = 2

# TOML files
[*.toml]
indent_size = 2