[user]
    name  = j_nakazato
    email = j_nakazato@tose-okinawa.co.jp
[color]
    status  = auto
    diff    = auto
    branche = auto
[core]
    excludesfile = ~/.gitignore
[alias]
    co = checkout
    ci = commit -a
    st = status
    up = pull --rebase
[github]
    user  = j138
    email = j138cm@gmail.com
    token = qwertyuiopasdfghjkl
[branch "master"]
    remote = origin
    merge = refs/heads/master
