[user]
	name = j138
	email = j138cm@gmail.com
[color]
	branche = auto
	diff    = auto
	interactive = auto
	status  = auto
	ui = auto
[core]
	excludesfile = ~/.gitignore
	quotepath = false
[alias]
	co = checkout
	ci = commit 
	st = status
	up = pull --rebase
	l  = log
	dn = diff --name-only
[github]
	name = j138
	user = j138
	email = j138cm@gmail.com
	token = 123qweasdzxc123qweasdzxc
[branch "master"]
	remote = origin
	merge = refs/heads/master
