.DS_Store
.subversion/auth/
.vim/.netrwhist
.vim/GetLatest
.vimperator/info/default/history-command
.vimperator/info/default/history-search
.vimperator/info/default/local-marks
.vimperator/info/default/plugins-hatena-bookmark-search-data
.vimperator/info/default/plugins-libly-wedata-AutoPagerize-items
.vimperator/info/default/plugins-pluginManager
.vimperator/info/default/url-marks


Session.vim
Thumbs.db
ctags
log/


*.bak
*.BAK
*.old
*.org

