[submodule ".vim/vundle.git"]
	path = .vim/vundle.git
	url = http://github.com/gmarik/vundle.git
[submodule ".vimperator/bundle/vimperator-plugins.git"]
	path = .vimperator/bundle/vimperator-plugins.git
	url = http://github.com/vimpr/vimperator-plugins.git
