build/
log/

.DS_Store
tags
Session.vim
Thumbs.db
.gitignore
nohup.out

*.a
*.al
*.bak
*.la
*.lo
*.mode1v3
*.o
*.old
*.org
*.pbxuser
*.pyo
*.so
*.dump
*.diff

.subversion/auth/
.vim/.VimballRecord
.vim/.netrwhist
.vim/dict/
.vim/doc/
.vim/GetLatest/
.vim/bundle/
.vim/chalice/cache
.vimperator/info

doc/tags
doc/tags-*

sample.*
*.stash.*

.zsh/.zcompdump*
.zsh/.zcompcache
