<UserScriptConfig>
	<Script basedir="minibuffer" checkRemoteUpdates="true" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="Minibuffer" enabled="true" filename="minibuffer.user.js" installTime="1329479150792" lastUpdateCheck="1299632998972" modified="1299632998000" name="Minibuffer" namespace="http://white.s151.xrea.com/" runAt="document-end" updateAvailable="false" version="" installurl="http://userscripts.org/scripts/source/11759.user.js" updateurl="http://userscripts.org/scripts/source/11759.meta.js">
		<Include>*</Include>
	</Script>
	<Script basedir="ldrize" checkRemoteUpdates="true" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="j,k,v,p,o,:,f,? + l,s,i" enabled="true" filename="ldrize.user.js" installTime="1329479150807" lastUpdateCheck="1299632104360" modified="1336961165743" name="LDRize" namespace="http://white.s151.xrea.com/" runAt="document-end" updateAvailable="false" version="" installurl="http://userscripts.org/scripts/source/11562.user.js" updateurl="http://userscripts.org.nyud.net/scripts/source/11562.meta.js">
		<Include>http://*</Include>
		<Include>https://*</Include>
		<Include>file:///*</Include>
	</Script>
	<Script basedir="autopagerize" checkRemoteUpdates="true" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="loading next page and inserting into current page." enabled="false" filename="autopagerize.user.js" installTime="1329479150808" lastUpdateCheck="1296005211367" modified="1296005210000" name="AutoPagerize" namespace="http://swdyh.yu.to/" runAt="document-end" updateAvailable="false" version="">
		<Include>http://*</Include>
		<Include>https://*</Include>
		<Exclude>https://mail.google.com/*</Exclude>
		<Exclude>http://b.hatena.ne.jp/*</Exclude>
		<Exclude>http://www.facebook.com/plugins/like.php*</Exclude>
		<Exclude>http://api.tweetmeme.com/button.js*</Exclude>
	</Script>
	<Script basedir="reblogcommand" checkRemoteUpdates="true" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="reblogcommand.user.js" installTime="1329479150809" lastUpdateCheck="1293296248000" modified="1293296248000" name="ReblogCommand" namespace="http://white.s151.xrea.com/" runAt="document-end" updateAvailable="false" version="">
		<Include>http://*</Include>
		<Include>https://*</Include>
		<Exclude>http://www.tumblr.com/share</Exclude>
		<Exclude>http://192.168.9.*/*</Exclude>
		<Exclude>http://sem-portal.cyberagent.co.jp/*</Exclude>
	</Script>
	<Script basedir="wikipediagoogleimage" checkRemoteUpdates="true" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="wikipediagoogleimage.user.js" installTime="1329479150811" lastUpdateCheck="1293296248000" modified="1293296248000" name="wikipedia.googleimage" namespace="http://www.kagami.org/" runAt="document-end" updateAvailable="false" version="">
		<Include>http://ja.wikipedia.org/wiki/*</Include>
		<Exclude>http://sem-portal.cyberagent.co.jp/*</Exclude>
	</Script>
	<Script basedir="amazon_cross_book_check" checkRemoteUpdates="true" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="amazon_cross_book_check.user.js" installTime="1329479150812" lastUpdateCheck="1293296248000" modified="1293296248000" name="Amazon Cross Book Check" namespace="http://d.hatena.ne.jp/adda/" runAt="document-end" updateAvailable="false" version="">
		<Include>http://www.amazon.co.jp/*</Include>
		<Include>http://amazon.co.jp/*</Include>
		<Exclude>http://sem-portal.cyberagent.co.jp/*</Exclude>
	</Script>
	<Script basedir="google_reader_star_opene" checkRemoteUpdates="true" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="Starred item open in a lump for Google Reader." enabled="true" filename="google_reader_star_opene.user.js" installTime="1329479150813" lastUpdateCheck="1293296248000" modified="1293296248000" name="Google Reader Star Opener" namespace="http://www.sukechan.net/" runAt="document-end" updateAvailable="false" version="1.0.1">
		<Include>http://www.google.co.jp/reader/view/*</Include>
		<Include>http://www.google.com/reader/view/*</Include>
		<Exclude>http://sem-portal.cyberagent.co.jp/*</Exclude>
	</Script>
	<Script basedir="Amazon_Kakaku.com_Checker" checkRemoteUpdates="true" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="Amazonに価格.comの最安値と差額を表示します" enabled="true" filename="109139.user.js" installTime="1342513808265" lastUpdateCheck="1342513831217" modified="1342513805435" name="Amazon Kakaku.com Checker" namespace="http://userscripts.org/scripts/show/109139" runAt="document-start" updateAvailable="" version="2.2" installurl="http://userscripts.org/scripts/source/109139.user.js" updateurl="https://userscripts.org/scripts/source/109139.meta.js">
		<Include>http://www.amazon.co.jp/dp/*</Include>
		<Include>http://www.amazon.co.jp/*/dp/*</Include>
		<Include>http://www.amazon.co.jp/gp/*</Include>
	</Script>
</UserScriptConfig>